.App {
  text-align: center;
}

.seachField{
  align-items: center;
  justify-content: center;
}
.center-navbar {
  width: 100%;
  padding-left: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.child {
  margin: 10px;
}

.photos{
  margin-top: 5%;
}